/* Navigator */
.custom-navbar {
    background-color: rgba(var(--bs-light-rgb), 0.9) !important;
    transition: background-color 0.3s ease;
}

.nav-link {
    color: #6f6f6f !important;
}

.navContainerProjects {
    display: flex;
    justify-content: flex-start !important;
}

@media (max-width: 992px) {
    .custom-navbar {
        border-bottom: 1px #6f6f6f solid;
    }
}
