/* SECTION 01: INDEX */
.container-index {
    min-height: 100vh;
    align-items: center;
}

.img-aboutMe01 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
    z-index: 2;
}

.img-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleProfesional {
    color: #6f6f6f !important;
}

.containerBtnsCnts {
    margin: auto !important;
}
/* 
@media (max-width: 992px) {
    .container-img-index {
        margin-top: 2rem;
    }
} */