/* Styles generals */
.section-index,
.section-proyects,
.section-aboutme,
.section-contact,
.containerProyectos {
    background-attachment: fixed;
    min-height: 100vh;
    color: #000;
    font-family: 'Fira Code', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

body {
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
}