/* Styles generals */
.section-index,
.section-proyects,
.section-aboutme,
.section-contacto,
.section-educacion,
.containerProyectos {
    background-attachment: fixed;
    min-height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

body {
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto;
}