/* SECTION 02: ABOUT ME */
.img-aboutMe02 {
    max-width: 250px !important;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.tech-cloud {
    position: absolute;
    width: 50px;
    max-width: 15vw;
    animation: float 6s ease-in-out infinite;
    opacity: 0.9;
}

.skillAboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #e6e5e5;
    border-radius: 5px;
}

.imgSkillAboutMe {
    width: 25px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.imgSkillAboutMe:hover {
    transform: scale(1.1);
}

.div-skills-about-me {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 20px;
    padding: 15px;
}

.tech-cloud01 {
    top: -10px; 
    left: 25px
}

.tech-cloud02 {
    top: 40px; 
    right: -15px;
}

.tech-cloud03 {
    bottom: -20px; 
    right: 220px;
}

.text-justify {
    text-align: justify !important;
}

@media (max-width: 576px) {
    .section-aboutme p {
        font-size: 0.95rem;
    }

    .tech-cloud {
        width: 40px;
    }
}

/* Animación suave */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
